passlib~=1.7.4
uvicorn~=0.15.0
fastapi~=0.68.1
SQLAlchemy~=1.4.23
starlette~=0.14.2
pydantic~=1.8.2
python-jose~=3.3.0
cx-Oracle~=8.3.0
pip~=22.1.2
wheel~=0.37.1
six~=1.16.0
python-multipart~=0.0.5
setuptools~=60.2.0
bcrypt~=3.2.2